@model List<Instructor>

@{
    Layout = "_AdvLayout";
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="container">
    <div class="row">

        <h1 class="my-4">Instructors</h1>

        <form asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by name" name="searchString" />
                <div class="input-group-append ms-3">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>


        <a class="btn btn-primary my-3 col-2" asp-action="Create">Add Instructor</a>

        <table class="table table-bordered table-hover text-center">
            <tr>
                <th>No.</th>
                <th>Instructor Name</th>
                <th>Instructor Address</th>
                <th>Instructor Image</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.InsName</td>
                    <td>@item.InsAddress</td>
                    <td><img src="\Images\@item.InsImage" style="width:100px;height:100px" /> </td>
                    <td><a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.InsId">Instructor Details</a></td>
                    <td><a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.InsId">Edit Instructor</a></td>
                    <td>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this instructor?');">
                            <input type="hidden" name="id" value="@item.InsId" />
                            <button type="submit" class="btn btn-outline-danger">Delete Instructor</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
